<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.allgoods">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="All Goods"
        android:roundIcon="@mipmap/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllGoods">
        <activity android:name=".Video">
        </activity>
        <activity
            android:name=".Motivational1"
            android:parentActivityName=".Motivational" />
        <activity android:name=".Music" />
        <activity android:name=".Videos" />
        <activity android:name=".Motivational" />
        <activity android:name=".Emotional" />
        <activity android:name=".Categories" />
        <activity android:name=".Aboutus" />
        <activity android:name=".Sharethoughts" />
        <activity android:name=".ViewListContent" />
        <activity
            android:name=".Sidebar"
            android:theme="@style/Theme.AllGoods.NoActionBar" />
        <activity android:name=".StartingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>