<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.allgoods">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="All Goods"
        android:roundIcon="@mipmap/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllGoods">
        <activity android:name=".MainToolBarVideos"></activity>
        <activity android:name=".Motivational31" />
        <activity android:name=".Motivational32" />
        <activity android:name=".Motivational30" />
        <activity android:name=".Motivational29" />
        <activity android:name=".Motivational28" />
        <activity android:name=".Motivational27" />
        <activity android:name=".Motivational26" />
        <activity android:name=".Motivational25" />
        <activity android:name=".Motivational24" />
        <activity android:name=".Motivational23" />
        <activity android:name=".Motivational22" />
        <activity android:name=".Motivational21" />
        <activity android:name=".Motivational20" />
        <activity android:name=".Motivational19" />
        <activity android:name=".Motivational18" />
        <activity android:name=".Motivational17" />
        <activity android:name=".Motivational16" />
        <activity android:name=".Motivational15" />
        <activity android:name=".Motivational14" />
        <activity android:name=".Motivational13" />
        <activity android:name=".Motivational12" />
        <activity android:name=".Motivational11" />
        <activity android:name=".Motivational10" />
        <activity android:name=".Motivational9" />
        <activity android:name=".Motivational7" />
        <activity android:name=".Motivational6" />
        <activity android:name=".Motivational5" />
        <activity android:name=".Motivational4" />
        <activity android:name=".Motivational3" />
        <activity android:name=".Motivational2" />
        <activity android:name=".MainToolbarEmotional1" />
        <activity android:name=".Emotional29" />
        <activity android:name=".Emotional28" />
        <activity android:name=".Emotional27" />
        <activity android:name=".Emotional26" />
        <activity android:name=".Emotional25" />
        <activity android:name=".Emotional24" />
        <activity android:name=".Emotional23" />
        <activity android:name=".Emotional22" />
        <activity android:name=".Emotional21" />
        <activity android:name=".Emotional20" />
        <activity android:name=".Emotional19" />
        <activity android:name=".Emotional18" />
        <activity android:name=".Emotional17" />
        <activity android:name=".Emotional16" />
        <activity android:name=".Emotional15" />
        <activity android:name=".Emotional14" />
        <activity android:name=".Emotional13" />
        <activity android:name=".Emotional12" />
        <activity android:name=".Emotional11" />
        <activity android:name=".Emotional10" />
        <activity android:name=".Emotional9" />
        <activity android:name=".Emotional8" />
        <activity android:name=".Emotional7" />
        <activity android:name=".Emotional6" />
        <activity android:name=".Emotional5" />
        <activity android:name=".Emotional4" />
        <activity android:name=".Emotional3" />
        <activity android:name=".Emotional2" />
        <activity android:name=".Emotional1" />
        <activity android:name=".Video" />
        <activity
            android:name=".Motivational1"
            android:parentActivityName=".Motivational" />
        <activity android:name=".Music" />
        <activity android:name=".Videos" />
        <activity android:name=".Motivational" />
        <activity android:name=".Emotional" />
        <activity android:name=".Categories" />
        <activity android:name=".Aboutus" />
        <activity android:name=".Sharethoughts" />
        <activity android:name=".ViewListContent" />
        <activity
            android:name=".Sidebar"
            android:theme="@style/Theme.AllGoods.NoActionBar" />
        <activity android:name=".StartingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>